Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <!-- root -->
  <xs:element name="Hotels" type="HotelsType"/>

  <xs:complexType name="HotelsType">
    <xs:sequence>
      <xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Hotel -->
  <xs:complexType name="HotelType">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="Address" type="AddressType"/>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID" use="required"/>
    <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="Number" type="xs:string"/>
      <xs:element name="Street" type="xs:string"/>
      <xs:element name="City" type="xs:string"/>
      <xs:element name="State" type="StateType"/>
      <xs:element name="Zip" type="ZipType"/>
      <xs:element name="NearestAirport" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <!-- zipcode -->
  <xs:simpleType name="ZipType">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{5}(-\d{4})?"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- state code -->
  <xs:simpleType name="StateType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
